window {
    font-size: 32px;
    font-family: "Roboto Mono Medium";
    background-color: rgba(50, 50, 50, 0.92);
    color: white;
}

listview {
    columns: 1;
    lines: 10; /* Опционально: ограничение количества строк */
}

#entry:selected {
    background-color: #bbccdd;
    color: #333333;
}

#text:selected {
    color: #333333;
}
